### Целевой роутер и процессор
CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7620
CONFIG_FIRMWARE_PRODUCT_ID="TL_C5-V4"
CONFIG_FIRMWARE_CPU_600MHZ=y

### Драйверы Wi-Fi (Стабильные версии)
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

### Базовая сетевая конфигурация
CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y

### ПОДДЕРЖКА USB, МОДЕМОВ И ФЛЕШЕК (Для Entware)
CONFIG_FIRMWARE_ENABLE_USB=y
CONFIG_FIRMWARE_INCLUDE_SERIAL=y
CONFIG_FIRMWARE_ENABLE_EXT4=y
CONFIG_FIRMWARE_ENABLE_FUSE=y
CONFIG_FIRMWARE_ENABLE_SWAP=y

### МОДУЛИ ЯДРА ДЛЯ РАБОТЫ ZAPRET 2 (Обязательно!)
CONFIG_FIRMWARE_INCLUDE_IPSET=y
CONFIG_FIRMWARE_INCLUDE_QOS=y
CONFIG_NETFILTER=y
CONFIG_NETFILTER_ADVANCED=y
CONFIG_BRIDGE_NETFILTER=y
CONFIG_NETFILTER_NETLINK_QUEUE=m
CONFIG_NETFILTER_XT_TARGET_NFQUEUE=m
CONFIG_IP_NF_QUEUE=m

### [ОТКЛЮЧЕНО] Вырезаем старый первый Запрет
#CONFIG_FIRMWARE_INCLUDE_NFQWS=y

### [ДОБАВЛЕНО] Включаем менеджер пакетов Entware
CONFIG_FIRMWARE_INCLUDE_OPKG=y

### Системные службы и Язык
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y

### [УДАЛЕНО] Все лишние VPN и медиацентры (экономим ОЗУ)
#CONFIG_FIRMWARE_INCLUDE_HTTPS=y
#CONFIG_FIRMWARE_INCLUDE_SSWAN=y
#CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y
#CONFIG_FIRMWARE_INCLUDE_AMNEZIAWG=y
