### Target Vendor/Product (support only Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7620

### Target ProductID (board select, max 12 symbols)
CONFIG_FIRMWARE_PRODUCT_ID="TL_C5-V4"

############################################################
### Linux kernel configuration
############################################################

### Force MT7620 CPU clock to 600MHz (override Uboot settings)
CONFIG_FIRMWARE_CPU_600MHZ=y

### Enable MT7620 CPU sleep mode (downclock to 200MHz on idle)
#CONFIG_FIRMWARE_CPU_SLEEP=y

### Kernel driver select for WiFi AP 2.4GHz
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7

### Enable IPv6 support
CONFIG_FIRMWARE_ENABLE_IPV6=y

### Include XFRM (IPsec) modules & iptables extension ~ 0.2MB (Необходимо для AdGuard VPN по IKEv2)
CONFIG_FIRMWARE_INCLUDE_XFRM=y

### Include IPSet utility and kernel modules. ~0.4MB (Критично для работы списков auto.list)
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Include Shortcut Forward Engine (Аппаратное ускорение NAT)
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y

############################################################
### USB & 4G Modems configuration
############################################################
### Включаем поддержку USB-интерфейса и драйверов под 4G свистки
CONFIG_FIRMWARE_ENABLE_USB=y
CONFIG_FIRMWARE_INCLUDE_MODEM=y
CONFIG_FIRMWARE_INCLUDE_NDIS=y

### Выключаем поддержку накопителей и файловых систем (USB-флешки использовать не будем, экономим много места)
CONFIG_FIRMWARE_INCLUDE_STORAGE=n
CONFIG_FIRMWARE_INCLUDE_NFS=n
CONFIG_FIRMWARE_INCLUDE_HFS=n
CONFIG_FIRMWARE_INCLUDE_XFS=n
CONFIG_FIRMWARE_INCLUDE_FUSE=n

############################################################
### Userspace configuration
############################################################

### Перевод интерфейса роутера на русский язык
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y

### Отключаем тяжелые криптографические аутентификации ради экономии ОЗУ и места
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=n

### Отключаем HTTPS для DDNS (сам DDNS продолжит работать по HTTP)
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=n

### ВНИМАНИЕ: Отключаем HTTPS для веб-морды. Управление роутером будет строго по HTTP (192.168.1.1).
### Это освобождает целых 1.2 МБ Flash-памяти, критически важных для Archer C5 v4!
CONFIG_FIRMWARE_INCLUDE_HTTPS=n

### Отключаем файловый сервер SFTP
CONFIG_FIRMWARE_INCLUDE_SFTP=n

### Оставляем легкий и быстрый SSH-сервер Dropbear
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y

### Оставляем OpenVPN (Альтернативный протокол для AdGuard VPN)
CONFIG_FIRMWARE_INCLUDE_OPENVPN=y

### Оставляем Wireguard (Самый легкий протокол для VPN)
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y

### Отключаем генератор сертификатов OpenSSL (роутеру на клиенте они не нужны)
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=n
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=n

### Вырезаем медиасервер IPTV xUPNPd, так как он весит >0.3MB
CONFIG_FIRMWARE_INCLUDE_XUPNPD=n

### Отключаем DNSCrypt и Stubby (будем работать через быстрый системный DNS провайдера или модема)
CONFIG_FIRMWARE_INCLUDE_DNSCRYPT=n

### Системные модули
CONFIG_FIRMWARE_INCLUDE_WPAD=y
CONFIG_FIRMWARE_INCLUDE_ZRAM=y
CONFIG_FIRMWARE_INCLUDE_EOIP=y

### Оставляем Curl (нужен для скачивания подсетей Telegram и работы скриптов)
CONFIG_FIRMWARE_INCLUDE_CURL=y

############################################################
### Zapret (nfqws & tpws) & Netfilter Configuration
############################################################
### Включаем Zapret
CONFIG_FIRMWARE_INCLUDE_NFQWS=y

### ЖЕСТКО переводим очереди Netfilter из модулей ядра (=m) в само ядро (=y).
### Без этого nfqws не сможет перехватывать трафик без USB-накопителя!
CONFIG_NETFILTER_NETLINK_QUEUE=y
CONFIG_NETFILTER_XT_TARGET_NFQUEUE=y
CONFIG_IP_NF_QUEUE=y

### Добавляем поддержку AmneziaWG
CONFIG_FIRMWARE_INCLUDE_AMNEZIAWG=y

### Максимальное сжатие бинарников компилятором под размер Flash
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
