### Целевой роутер и процессор
CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7620
CONFIG_FIRMWARE_PRODUCT_ID="TL_C5-V4"
CONFIG_FIRMWARE_CPU_600MHZ=y

### Драйверы Wi-Fi
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

### Базовая сетевая конфигурация
CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y

### ПОДДЕРЖКА USB И МОДЕМОВ (3G/4G/LTE)
CONFIG_FIRMWARE_ENABLE_USB=y
CONFIG_FIRMWARE_INCLUDE_SERIAL=y

### [ВКЛЮЧАЕМ ТУТ] Протокол WireGuard
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y

### Системные службы и Язык
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y

### [УДАЛЕНО] Накопители, флешки, тяжелый IPsec и старый Zapret
#CONFIG_FIRMWARE_ENABLE_FAT=y
#CONFIG_FIRMWARE_ENABLE_EXFAT=y
#CONFIG_FIRMWARE_ENABLE_EXT2=y
#CONFIG_FIRMWARE_ENABLE_EXT3=y
#CONFIG_FIRMWARE_ENABLE_EXT4=y
#CONFIG_FIRMWARE_ENABLE_FUSE=y
#CONFIG_FIRMWARE_ENABLE_SWAP=y
#CONFIG_FIRMWARE_INCLUDE_NTFS_3G=y
#CONFIG_FIRMWARE_INCLUDE_HDPARM=y
#CONFIG_FIRMWARE_INCLUDE_HID=y
#CONFIG_FIRMWARE_INCLUDE_OPKG=y
#CONFIG_FIRMWARE_INCLUDE_NFQWS=y
#CONFIG_FIRMWARE_INCLUDE_SSWAN=y
