### Целевой роутер и процессор
CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7620
CONFIG_FIRMWARE_PRODUCT_ID="TL_C5-V4"
CONFIG_FIRMWARE_CPU_600MHZ=y

### Драйверы Wi-Fi (Базовые стабильные версии)
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

### Базовая сетевая конфигурация
CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y

### ПОДДЕРЖКА USB И МОДЕМОВ (3G/4G/LTE)
CONFIG_FIRMWARE_ENABLE_USB=y
CONFIG_FIRMWARE_INCLUDE_SERIAL=y

### [УДАЛЕНО] Накопители и флешки (вырезано ради экономии памяти)
#CONFIG_FIRMWARE_ENABLE_FAT=y
#CONFIG_FIRMWARE_ENABLE_EXFAT=y
#CONFIG_FIRMWARE_ENABLE_EXT2=y
#CONFIG_FIRMWARE_ENABLE_EXT3=y
#CONFIG_FIRMWARE_ENABLE_EXT4=y
#CONFIG_FIRMWARE_ENABLE_FUSE=y
#CONFIG_FIRMWARE_ENABLE_SWAP=y
#CONFIG_FIRMWARE_INCLUDE_NTFS_3G=y
#CONFIG_FIRMWARE_INCLUDE_HDPARM=y
#CONFIG_FIRMWARE_INCLUDE_HID=y
#CONFIG_FIRMWARE_INCLUDE_OPKG=y

### КОМПОНЕНТЫ ЯДРА ДЛЯ РАБОТЫ ZAPRET 2
CONFIG_FIRMWARE_INCLUDE_IPSET=y
CONFIG_FIRMWARE_INCLUDE_QOS=y
CONFIG_NETFILTER=y
CONFIG_NETFILTER_ADVANCED=y
CONFIG_BRIDGE_NETFILTER=y
CONFIG_NETFILTER_NETLINK_QUEUE=m
CONFIG_NETFILTER_XT_TARGET_NFQUEUE=m
CONFIG_IP_NF_QUEUE=m

### Включаем интеграцию утилиты (чтобы сработали сценарии сборщика)
CONFIG_FIRMWARE_INCLUDE_NFQWS=y

### Базовые системные утилиты и Язык
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y

### [УДАЛЕНО] Все лишние VPN-сервисы и медиацентры
#CONFIG_FIRMWARE_INCLUDE_HTTPS=y
#CONFIG_FIRMWARE_INCLUDE_SSWAN=y
#CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y
#CONFIG_FIRMWARE_INCLUDE_AMNEZIAWG=y
